 
 <ActionBar title="Styling">
     <NavigationButton text="&#xe93a;" class="ico-moon" visibility="visible"></NavigationButton>

     <ActionItem ios.position="right">
         <GridLayout width="60">
            <app-navbar></app-navbar>
         </GridLayout>  
     </ActionItem>
 </ActionBar>

 <AbsoluteLayout>
     <GridLayout rows="*,auto" top="0" left="0" width="100%" height="100%">
         <StackLayout row="*">
             <ScrollView>
                 <StackLayout class="product-details">
                     <StackLayout>

                         <StackLayout class="gallery">
                             <StackLayout class="prd-image" backgroundImage="{{selectedImage}}">
                

                             </StackLayout>
                             <WrapLayout orientation="horizontal" class="pointer-holder" width="100%" >
                                        <StackLayout *ngFor="let image of gallery,let i=index"
                                            class="pointer {{i==selectedImageIndex?'active':''}}"
                                            backgroundImage="{{image}}" (tap)="selectImage(i)" >
                                        </StackLayout>
                             </WrapLayout>
                         </StackLayout>

                         <Label [text]="product.productname" class="prd-title medium" textWrap="true"></Label>
                         <Label [text]="product.description" class="prd-desc regular" textWrap="true"></Label>

                         <StackLayout [visibility]="product.discount ? 'visible' : 'collapsed'">
                             <Label row="0" col="0" textWrap="true" class="price bold">
                                 <FormattedString>
                                     <Span [text]="(product.price*product.discount)/100"></Span>
                                     <Span text="Dhs" fontSize="14"></Span>

                                     <Span class="regular" [text]="' au lieu de '"></Span>
                                     <Span style="text-decoration: line-through;" fontSize="14"
                                         [text]="product.price"></Span>
                                     <Span style="text-decoration: line-through;" text="Dhs" fontSize="14"></Span>

                                 </FormattedString>
                             </Label>
                             <Label  colSpan="2" text="Economizez {{product.discount}}%" textWrap="true"></Label>
                             <Label  colSpan="2" text="{{product.qnt}} articles restants" textWrap="true"></Label>
                         </StackLayout>

                        


                         <!-- avis -->

                         <Label class="hr" textWrap="true"></Label>
                         <Label text="Avis({{comments.length}})" class="avis" marginBottom="20"
                             textWrap="true"></Label>

                         <GridLayout *ngFor="let item of comments" rows="auto,auto,auto,auto" columns="*,auto"
                             class="reviews">
                             <Image row="0" col="0" src="~/assests/images/48.jpg"></Image>
                             <Label row="0" col="0" class="author" [text]="item.author" textWrap="true"></Label>
                             <StackLayout row="0" col="1" colSpan="2">
                                 <ns-starred-review [starredReviewRate]="item.stars"></ns-starred-review>
                             </StackLayout>
                             <Label row="2" col="0" colSpan="2" class="comment" [text]="item.comment"
                                 textWrap="true"></Label>
                             <Label row="3" class="hr" colSpan="2" textWrap="true"></Label>

                         </GridLayout>
                     </StackLayout>

                     <StackLayout class="add-avis">
                         <Label text="Ajouter un Avis" class="title bold" textWrap="true"></Label>
                         <TextView hint="Ajouter votre commentaire" (textChange)="onTextChange($event)" class="control-form"></TextView>
                         <Button class="btn btn-secondary" text="Envoyer" (tap)="addAvis()"></Button>
                     </StackLayout>
                 </StackLayout>
             </ScrollView>


         </StackLayout>
         <StackLayout row="1" class="btn-holder" backgroundColor="transparent">
           <!--   <Button class="btn btn-primary" text="Acheter" (tap)="acheter()"></Button> -->
                        <app-add-to-cart [productInfo]="product"
                            (emitNbrArticleHandler)="emitNbrArticleHandler($event)">
                        </app-add-to-cart>

         </StackLayout>



     </GridLayout>
     <StackLayout horizontalAlignment="center" verticalAlignment="middle" id="popup"
         [visibility]="showModal ? 'visible' : 'collapsed'">
         <StackLayout class="starts-holder">

             <StackLayout *ngFor="let star of stars;let i=index" class="stars">
                 <Button class="star" (tap)="voter(i)">
                     <FormattedString>
                         <Span *ngFor="let st of star" left="0" top="0" text="&#xe9d9;" class="ico-moon"></Span>
                     </FormattedString>
                 </Button>
             </StackLayout>

         </StackLayout>
     </StackLayout>
 </AbsoluteLayout>
