<StackLayout>
    <StackLayout>
        <GridLayout height="350" >
            <Carousel #myCarousel debug="false
            " [items]="appData.promotion" (pageChanged)="myChangePageEvent($event)"
                android:indicatorAnimation="slide" indicatorColorUnselected="#eee" indicatorColor="#FF6C47" indicatorOffset="0, 25"
                showIndicator="true">
                

                <CarouselItem
                *ngFor="let item of appData.promotion,let i=index"
                padding="15"
                verticalAlignment="middle"
                (tap)="myTapPageEvent()">
                    <StackLayout class="product-holder" [backgroundImage]="item.imageUrl">
                        <GridLayout  rows="auto,*, auto" class="mask">

                            <Label row="0" colSpan="2" [text]="item.productname" 
                                class="h1 extra-bold" textWrap="true"></Label>

                            <GridLayout  row="1" col="1" rows="auto,auto, auto" columns="auto,auto">

                                <Label row="0"  *ngIf="item.discount" class="discount"
                                    horizontalAlignment="left" verticalAlignment="middle" 
                                    textWrap="true">
                                    <FormattedString>
                                        <Span class="rate h1 extra-bold" [text]="item.discount"></Span>
                                        <Span class="percentage"  text="%"></Span>
                                        <Span class="percentage"  text=" de réduction"></Span>
                                    </FormattedString>
                                </Label>
                                    <Label row="2" class="medium price" textWrap="true">
                                        <FormattedString>
                                            <Span class="new-price"
                                                [text]="(item.price*item.discount)/100+'Dhs'" ></Span>
                                            <Span class="text" text=" / "></Span>
                                            <Span class="old-price" [text]="item.price+'Dhs'"></Span>
                                        </FormattedString>
                                    </Label>
                            </GridLayout>
                            <Button marginTop="10" row="2" col="0" colSpan="2"  text="Acheter"   width="100%"
                                class="btn btn-primary -rounded" (tap)="buyHandler()"></Button>
                        </GridLayout>
                    </StackLayout>
               
</CarouselItem>
            </Carousel>
        </GridLayout>
        <StackLayout class="product-list">
            <ListView [items]="appData.productList" (loaded)="onLoaded($event)" 
                (itemTap)="onItemTap($event)" class="list-group">
                <ng-template let-item="item" let-odd="odd" let-even="even">
                    <StackLayout orientation="horizontal">
                        <StackLayout [backgroundImage]="item.imageUrl" class="image">
                        </StackLayout>
                        <StackLayout>
                            <Label [text]="item.productname" class="list-group-item"></Label>
                            <StackLayout *ngIf="item.starredReview">
                                <ns-starred-review [starredReviewRate]="item.starredReview"></ns-starred-review>
                            </StackLayout>
                            <Label class="price" [text]="item.price+'Dhs'" textWrap="true"></Label>
                        </StackLayout>
                    </StackLayout>
                </ng-template>
            </ListView>
        </StackLayout>
    </StackLayout>
</StackLayout>