/* Add mobile styles for the component here.  */

.starred-review{
    &.negative{
        .ico-moon {
             font-size: 22;
             color: rgb(189, 189, 189);
             padding: 0;
             margin: 0;
         }}
    
  .ico-moon{
    font-size: 22;
    color: #FF6C47;
    padding: 0;
    margin: 0;    
}  
}
